{% INCLUDECSS '@feneck91_introduciator/introduciator_acp.css' %}
<!-- INCLUDE overall_header.html -->

<h1 class="acp_img_title" title="{{ lang('ACP_INTRODUCIATOR_EXTENSION') }}">{{ lang('INTRODUCIATOR_ST_TITLE') }}</h1>

{{ lang('INTRODUCIATOR_ST_TITLE_EXPLAIN') }}

<form id="acp_introduciator" method="post" action="{U_ACTION}">
		<!--
			 --------------------------- Posting ---------------------------------------------
		-->
	<fieldset>
		<p class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input class="button1" type="submit" id="check" name="update" value="{{ lang('INTRODUCIATOR_CHECK') }}" />&nbsp;
			{S_FORM_TOKEN}
		</p>
	</fieldset>
	<!-- IF S_CHECK_DATABASE -->
	<fieldset>
	<div class="pagination top-pagination">
		{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
		{% else %}
		&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>

	<form id="action_delete_form" method="post" action="{{ U_ACTION }}">
	<table cellspacing="1">
		<thead>
			<tr>
				<th style="text-align:center;width:3%;">#</th>
				<th style="text-align:center;width:3%;">ID</th>
				<th style="text-align:center;width:12%;">{{ lang('SHOUT_DATE') }}</th>
				<th style="text-align:center;width:11%;">{{ lang('SHOUT_USER') }}</th>
				<th>{{ lang('MESSAGE') }}</th>
				<th style="text-align:center;width:5%;">{{ lang('MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% if S_DISPLAY_MESSAGES %}
			{% for messages in loops.messages %}
			<tr class="row{% if messages.ROW_NUMBER is even %}1{% else %}2{% endif %}">
				<td style="text-align:center">{{ messages.ROW_NUMBER }}</td>
				<td style="text-align:center">{{ messages.ID }}</td>
				<td>{{ messages.TIME }}</td>
				<td>{{ messages.POSTER }}</td>
				<td>{{ messages.MESSAGE }}</td>
				<td style="text-align:center;"><input type="checkbox" class="radio" name="mark[]" value="{messages.ID}" /></td>
			</tr>
			{% endfor %}
		{% else %}
			<tr class="row2">
				<td style="text-align:center">0</td>
				<td colspan="4" style="text-align:center; font-size:14px;"><strong><em>{{ lang('NO_MESSAGE') }}</em></strong></td>
				<td style="text-align:center"></td>
			</tr>
		{% endif %}
		</tbody>
	</table>
	
	<div class="pagination bottom-pagination">
		{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
		{% else %}
		&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	</fieldset>
	<!-- ENDIF -->
</form>
