{% INCLUDECSS '@feneck91_introduciator/introduciator_acp.css' %}
<!-- INCLUDE overall_header.html -->

<h1 class="acp_img_title" title="{{ lang('ACP_INTRODUCIATOR_EXTENSION') }}">{{ lang('INTRODUCIATOR_ST_TITLE') }}</h1>

{{ lang('INTRODUCIATOR_ST_TITLE_EXPLAIN') }}
<form id="acp_introduciator" method="post" action="{U_ACTION}">
		<!--
			 --------------------------- Posting ---------------------------------------------
		-->
	<!-- IF S_CHECK_DATABASE -->
	<fieldset>
	<div class="pagination top-pagination">
		{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
		{% else %}
		&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>

	<table cellspacing="1">
		<thead>
			<tr>
				<th style="text-align:center;width:3%;">#</th>
				<th style="text-align:center;width:11%;">{{ lang('INTRODUCIATOR_ST_USER') }}</th>
				<th style="text-align:center;width:11%;">{{ lang('INTRODUCIATOR_ST_DATE') }}</th>
				<th>{{ lang('INTRODUCIATOR_ST_INTRODUCE') }}</th>
			</tr>
		</thead>
		<tbody>
		{% if S_DISPLAY_INTRODUCES %}
			{% for introduce in loops.introduces %}
			<tr class="row{% if introduce.ROW_NUMBER is even %}1{% else %}2{% endif %}">
				{% if introduce.FIRST_ROW_SPAN %}
					<td rowspan="{{ introduce.ROW_SPAN }}" style="text-align:center">{{ introduce.ROW_NUMBER }}</td>
					<td rowspan="{{ introduce.ROW_SPAN }}" style="text-align:center"> {{ introduce.POSTER }}</td>
				{% endif %}
				<td style="text-align:center">{{ introduce.DATE }}</td>
				<td>{{ introduce.INTRODUCE }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr class="row2">
				<td style="text-align:center">0</td>
				<td colspan="4" style="text-align:center; font-size:14px;"><strong><em>{{ lang('NO_MESSAGE') }}</em></strong></td>
				<td style="text-align:center"></td>
			</tr>
		{% endif %}
		</tbody>
	</table>

	<div class="pagination bottom-pagination">
		{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
		{% else %}
		&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	</fieldset>
	<!-- ELSE -->
	<fieldset>
		<legend><a class="acp_img_submit" title="{{ lang('SUBMIT') }}"></a>{{ lang('SUBMIT') }}</legend><br/>
		<p class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input class="button1" type="submit" id="check" name="update" value="{{ lang('INTRODUCIATOR_CHECK') }}" />&nbsp;
			{S_FORM_TOKEN}
		</p>
	</fieldset>
	<!-- ENDIF -->
</form>
