<!-- INCLUDE overall_header.html -->
<br/>
<div class="panel">
<!-- IF S_MOD_ACTIVATED -->
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="content" style="color:#000000">
			<br/>
				<h2><center>
					<p style="color:#FF6060">{INTRODUCIATOR_MOD_EXPLAIN_TITLE}</p>
				</center></h2>
			<br/>
			Pour chaque nouvel utilisateur, il faut commencer par aller se pr&eacute;senter aux autres membres dans le Forum '
			<a href="{FORUM_HREF}"><u>{FORUM_NAME}</u></a>'.
			<br/>Seul la cr&eacute;ation d'un nouveau message dans ce forum est autoris&eacute;.
			<br/>Pour la cr&eacute;ation du message de pr&eacute;sentation, veuillez suivre les r&egrave;gles qui sont affich&eacute;es en rouge en haut de chaque forum.
			<br/><br/><b><u>Elles sont rappel&eacute;es ici :</b></u><br/><br/>
		</div>

		<div class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<strong>{L_FORUM_RULES}</strong><br/>
				<br/>
				{FORUM_RULES}
				<br/>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<br/>
		<span class="corners-bottom"><span></span></span>
	</div>
<!-- ELSE -->
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="content" style="color:#000000">
			<br/>
			<center>
				<h2>
					<p style="color:#FF6060">{L_INTRODUCIATOR_MOD_DISABLED}</p>
				</h2>
			</center>
		</div>
		<br/>
		<span class="corners-bottom"><span></span></span>
	</div>
<!-- ENDIF -->
</div>
<br/>
<a href="{FORUM_HREF}">Aller dans le forum '{FORUM_NAME}' maintenant en cliquant sur ce lien'</a>
<br/>
<a href="{FORUM_HREF_POST}">Commencer votre pr&eacute;sentation maintenant en cliquant sur ce lien</a>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->