{% INCLUDECSS '@feneck91_introduciator/introduciator_explain.css' %}
{% include 'overall_header.html' %}

<br/>
<div class="panel">
  {% if S_EXT_ACTIVATED %}
    <div class="inner">
      <div class="content">
        <br/>
        <h2 class="introduciator_explain">{{ INTRODUCIATOR_EXT_EXPLAIN_TITLE }}</h2>
        <br/>
        <p>{{ INTRODUCIATOR_EXT_EXPLAIN_TEXT }}</p>
      </div>
    </div>
    {% if S_RULES_ACTIVATED %}
      <div class="rules">
        <div class="inner">
          {% if S_RULES_TITLE_ACTIVATED %}
            {{ INTRODUCIATOR_EXT_RULES_TITLE }}
            <br/>
          {% endif %}
          <br/>
          <p>
            {{ INTRODUCIATOR_EXT_RULES_TEXT }}
            <br/>
          </p>
        </div>
      </div>
      <br/>
    {% else %}
      <br/>
    {% endif %}
    <br/>
    <span style="text-align: center">{{ INTRODUCIATOR_EXT_LINK_GOTO_FORUM }}</span><br/>
    <span style="text-align: center">{{ INTRODUCIATOR_EXT_LINK_POST_FORUM }}</span><br/>
    <br/>
  {% endif %}
</div>

{% include 'jumpbox.html' %}
{% include 'overall_footer.html' %}